Repository hmcts/sscs-shared-infrastructure, pull requests merged in 2025-01, with the labels that each got.

#192 Temporarily update message size to 10MB as the case size is exceeding 5MB[out of hours]
  prod.tfvars
Labels: aat/add-or-update, prod/destroy

#193 Disable correlation ID in AAT
  aat.tfvars
Labels: prod/add-or-update, aat/destroy

#196 Revert "Disable correlation ID in AAT"
  aat.tfvars
Labels: aat/add-or-update, prod/add-or-update

#195 azurerm bump to 4.0.0
  .terraform-version
  application-insights.tf
  main.tf
  servicebus.tf
  sftp-storage-account-diagnostics.tf
  sftp-storage-account.tf
  state.tf
Labels: aat/add-or-update, prod/destroy

#202 SSCSCI-1542 azzurerm 4.15
  .terraform-version
  application-insights.tf
  main.tf
  servicebus.tf
  sftp-storage-account-diagnostics.tf
  sftp-storage-account.tf
  state.tf
Labels: aat/add-or-update, prod/destroy

#204 Update AAT service bus to premium to leverage JMS selectors
  aat.tfvars
Labels: prod/add-or-update, aat/destroy
